body {
    color: #494e52;
    background-color: #fcfaf3;
    fill: currentcolor;
    line-height: 1.5;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    margin: 0 auto;
    font-size: 16px;
    
    /* font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    background-color:rgb(248, 248, 248);
    color:#202124;
    margin: 0 auto; */
    
    /* font-size: 1.6rem;
    font-family: Merriweather,Georgia,serif;
    color: #333;
    line-height: 1.88; */
}

header {
    font-size: 30px;
    color: #494e52;
    margin: 0 auto 50px;
    background-color: #dad1b449;
    padding: 10px 90px;
    text-align: left;
}

h2 {
    display: block;
    font-size: 60px;
    line-height: 30px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h3, h4, h5 {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

main {
    width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
}

footer {
    background-color: #dad1b449;
    padding: 30px;
    color: #494e52;
    margin-top: 50px;
}

.contactform {
    background-color: #dad0b449;
    padding: 30px 30px;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.contactform label,
.contactform input,
.contactform textarea {
    width: 100%;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin: 20px auto 50px;
    width: 500px;
  }

/* a {
    color: rgb(248, 248, 248);
} */

.quote {
    text-align: center;
    line-height: 1.5;
}

.footer_title {
    font-size: 30px;
}

.homepage {
    color: #494e52e7;
    margin: 60px auto;
    padding: 0 0 10px 200px;
    text-align: left;
}

.links {
    color:rgb(70, 103, 102)
}

.bulletpts{
    padding-left: 0;
    list-style-position: inside;
}

.columns {
    display: flex;
    width: 40px;
    margin: 0 auto;
    justify-content: center;
}

.column {
    width: 50%;
    padding: 0 10px;
    /* background-color: #d4dab449;
    border-radius: 25px; */
    margin: 5px;
    text-align: center;
}

/* .column img {
    width: 40px;
    height: 40px;
} */

svg {
    fill: #494e52; /* Change the default fill color for all SVG elements */
}

/* Center-align the content within the section */
section {
    padding: 80px 0; /* Add some padding for spacing */
}

/* Align the image to the right */
.image-container {
    float: right; /* Float the container to the right */
    margin: 0 150px 0 50px; /* Add a right margin for spacing */
    width: 300px; /* Set the desired width for the container */
}


/* Style the image within the container */
.image-container img {
    max-width: 115%;
    max-height: 100%;
    border-radius: 45%; /* Round the corners of the image */
}

/* Add a double-bordered minimalistic frame to the image */
.minimalistic-frame {
    border: 2px solid #b9c1c7e7; /* Outer border color and thickness */
    border-radius: 145px; /* Create rounded corners */
    padding: 5px 15px; /* Add padding for spacing */
    
    /* Add an inner border */
    position: relative;
}

.minimalistic-frame::before {
    content: "";
    position: absolute;
    top: 2px; /* Adjust the top position for the inner border */
    right: -15px; /* Adjust the right position for the inner border */
    bottom: -8px; /* Adjust the bottom position for the inner border */
    left: 5px; /* Adjust the left position for the inner border */
    border: 2px solid #e1dcc5; /* Inner border color and thickness */
    border-radius: 130px; /* Inner border rounded corners */
}

/* Initially hide the text elements */
.animated-text {
    opacity: 0;
    visibility: hidden;
}

/* Animation for the 'show' class */
.animated-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out; /* Adjust animation duration and easing */
}

/* Sticky Menu Bar Styles */
.menu-bar {
    position: sticky;
    top: 0;
    background-color: #f3eddf;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    padding: 20px 20px; 
    height: 80px;
}

.branding {
    color: #494e52;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar li {
    float: right;
    padding: 10px 30px; 
}

.menu-bar a {
    display: block;
    color: #63696e;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 350;
}

.menu-bar a {
    text-decoration: none;
    position: relative;
}

/* .menu-bar a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dad1b4; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu-bar a:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left;
} */

.menu-bar li:hover {
    background-color: #dad1b462;
    border-radius: 10px; /* Add rounded corners on hover */
}


/* input {
    box-sizing: border-box;
    display: block;
    border-radius: 24px;
    border: 1px solid rgb(223, 225, 229);
    height: 44px;
    margin: 0 auto 29px;
    max-width: 564px;
    width: 90%;
    padding-left: 30px;
    font-size: 16px;
} */

/* button {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 16px;
    font-size: 14px;
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

button:first-of-type {
    margin-right: 8px;
    margin-left: calc(50% - 131.5px);
}

button:hover {
    cursor: pointer;   
} */